.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 100%;
    flex-direction: column;
}

.quantity {
    display: flex;
    color: #fff;
    font-size: 12vw;
    margin-bottom: 16px;
}

.gained {
    display: flex;
    color: #fff;
    font-size: 3vw;
    margin-bottom: 16px;
}

.stakedBlocks {
    display: flex;
    color: #fff;
    font-size: 3vw;
    margin-bottom: 16px;
}

.expectBlockTime {
    display: flex;
    color: #fff;
    font-size: 3vw;
    margin-bottom: 16px;
}

.expectBlockTime > .counter {
    margin-left: 8px;
}
